@import-normalize;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

svg {
  display: block;
}

html {
  scroll-behavior: smooth;
}
