@import "../../scss/utils/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  width: 100%;

  .title {
    margin-bottom: 50px;

    @media screen and (min-width: $desktop2560) {
      font-size: 55px;
    }
  }

  .input {
    margin-bottom: 50px;

    @media screen and (min-width: $desktop2560) {
      width: 300px;
      font-size: 55px;
    }
  }

  .result {
    font-size: 30px;

    @media screen and (min-width: $desktop2560) {
      font-size: 25px;
    }
  }
}
